<html>
<head>
    <meta charset="UTF-8">
    <title>Autó módosítása</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <script src="/static/js/app.js"></script>
    <script src="/static/js/modifyCtrl.js"></script>
</head>
<body data-ng-app="carApp" data-ng-controller="modifyCtrl">
    <h1>Autó módosítása</h1>
    <form name="modifyCarForm">
        <md-input-container>
            <label>Típus</label>
            <input name="type" data-ng-model="car.type"
                   required
                   data-ng-minlength="5"
                   data-ng-maxlength="20">
            <div data-ng-messages="modifyCarForm.type.$error">
                <div data-ng-message="required">Kötelező mező!</div>
                <div data-ng-message="minlength">Legalább 5 karakter!</div>
                <div data-ng-message="maxlength">Legfeljebb 20 karakter!</div>
            </div>
        </md-input-container><br />

        <md-input-container>
            <label>Kerekek száma</label>
            <input name="numberOfWheels" type="number" data-ng-model="car.numberOfWheels"
                   required
                   data-ng-min="3"
                   data-ng-max="6">
            <div data-ng-messages="modifyCarForm.numberOfWheels.$error">
                <div data-ng-message="required">Kötelező mező!</div>
                <div data-ng-message="min">Legalább 3 kerék!</div>
                <div data-ng-message="max">Legfeljebb 6 kerék!</div>
            </div>
        </md-input-container><br />
        <md-checkbox data-ng-model="car.isNew" aria-label="Új">
            Új
        </md-checkbox><br />

        <md-radio-group name="vehicleType" data-ng-model="car.vehicleType" required>

            <md-radio-button value="car">Autó</md-radio-button>
            <md-radio-button value="truck">Kamion</md-radio-button>

        </md-radio-group>

        <md-button ng-disabled="modifyCarForm.$invalid" data-ng-click="save()">Mentés</md-button>
    </form>
</body>
</html>
